In [110]:
import numpy as np
import pandas as pd

In [126]:
data = pd.read_csv("0.2122-Resnet34_1-parameters_dropout0.0--lr_0.001-weightDecay0.0005-smooth3rdChannelFalse.csv")
#data = pd.read_csv("submissionMedian-0.1465.csv")

In [127]:
data.head(4)

,id,is_iceberg_0,is_iceberg_1,is_iceberg_2,is_iceberg_3,is_iceberg_4,is_iceberg_5,is_iceberg_6,is_iceberg_7
0,5941774d,0.028615,0.062535,6.794538e-03,0.008201,0.019336,2.416978e-01,2.022329e-02,6.669971e-03
1,4023181e,0.291071,0.609150,1.471513e-01,0.652534,0.452591,2.452375e-01,4.795288e-01,1.291399e-01
2,b20200e4,0.000003,0.000190,2.200844e-08,0.000021,0.000021,2.738447e-07,6.649396e-07,1.423757e-07
3,e7f018bb,0.951818,0.994913,9.984296e-01,0.996828,0.999894,9.999082e-01,9.923556e-01,9.843350e-01

In [128]:
meanResult =  data.iloc[:,1:].mean(axis=1)

In [129]:
meanResult[:5]

0    0.049259
1    0.375800
2    0.000030
3    0.989810
4    0.055899
dtype: float64

In [130]:
medianResult =  data.iloc[:,1:].median(axis=1)

In [131]:
medianResult[:5]

0    0.019779
1    0.371831
2    0.000002
3    0.995870
4    0.033606
dtype: float64

In [132]:
data = data[["id"]]

In [133]:
data.loc[:,"is_iceberg"] = meanResult

In [134]:
data.to_csv("Resnet34Mean.csv",index = False)

In [135]:
data = data[["id"]]
data.loc[:,"is_iceberg"] = medianResult
data.to_csv("Resnet34_Median.csv",index = False)

In [12]:
asd = [ [1,2,3], [4,5]]
print (*asd)
np.mean(np.concatenate(asd))

[1, 2, 3] [4, 5]

3.0

In [41]:
databest = pd.read_csv("submissionMedian-0.1465.csv")
data2nd = pd.read_csv("submissionMedian.csv")

In [42]:
databest["2ndBest"] = data2nd["is_iceberg"]

In [43]:
databest.head(3)

         id  is_iceberg   2ndBest
0  5941774d    0.014599  0.011533
1  4023181e    0.243782  0.237408
2  b20200e4    0.012583  0.010786

In [18]:
databest.to_csv("submissionMedianConcatenatedFirstTwo.csv",index = False)